**CodeCademy Portfolio project**
# **Biodiversity-in-National-Parks**

En primer lugar dejamos un módulo de carga de librerías, seguido de la carga de los datasets combinando los dos archivos adjuntos.

In [1]:
# Librerías

import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns

## **Datasets**

In [2]:
# Carga de datos desde distintos archivos

observations = pd.read_csv('./data/observations.csv')
species = pd.read_csv('./data/species_info.csv')

In [3]:
# Explorando columnas
print(f"observations columns: \n{observations.columns} \n\nspecies columns:\n{species.columns}")

# Explorando primeras líneas
print(f"\n\nobservations heads: \n{observations.head(10)} \n\nspecies heads:\n{species.head(10)}")

observations columns:
Index(['scientific_name', 'park_name', 'observations'], dtype='object')

species columns:
Index(['category', 'scientific_name', 'common_names', 'conservation_status'], dtype='object')


observations heads:
                     scientific_name                            park_name  \
0                 Vicia benghalensis  Great Smoky Mountains National Park
1                     Neovison vison  Great Smoky Mountains National Park
2                  Prunus subcordata               Yosemite National Park
3               Abutilon theophrasti                  Bryce National Park
4           Githopsis specularioides  Great Smoky Mountains National Park
5  Elymus virginicus var. virginicus               Yosemite National Park
6                   Spizella pusilla            Yellowstone National Park
7                  Elymus multisetus  Great Smoky Mountains National Park
8             Lysimachia quadrifolia               Yosemite National Park
9         Diphyscium cumberlandianum            Yellowstone National Park

   observations
0            68
1            77
2           138
3            84
4            85
5           112
6           228
7            39
8           168
9           250

species heads:
  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus
5   Mammal         Odocoileus virginianus
6   Mammal                     Sus scrofa
7   Mammal                  Canis latrans
8   Mammal                    Canis lupus
9   Mammal                    Canis rufus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN
5                                  White-Tailed Deer                 NaN
6                                Feral Hog, Wild Pig                 NaN
7                                             Coyote  Species of Concern
8                                          Gray Wolf          Endangered
9                                           Red Wolf          Endangered

### **Características**

#### **Tamaño**

In [4]:
# Tamaño de los datasets
print(f'Observations: {observations.shape}')
print(f'\nSpecies: {species.shape}')

Observations: (23296, 3)

Species: (5824, 4)

El dataset de `observations` cuenta con un total de 23.296 entradas con 3 variables. Por otra parte, el dataset de `species` contiene 5.824 entradas con 4 variables cada una.

### **Exploración de datos**

#### **Especies únicas**

In [5]:
# Contabilizamos nombres científicos únicos
print(f"Número de nombres únicos en observations: {observations.scientific_name.nunique()}")
print(f"\nNúmero de nombres únicos en species: {species.scientific_name.nunique()}")

Número de nombres únicos en observations: 5541

Número de nombres únicos en species: 5541

El número total de especies animales que encontramos en ambos datasets es de 5.541 especies, por lo que algunas de ellas pueden o bien haber sido observadas en distintos parques nacioanles o estar duplicadas.

#### **Variable `category`**
Esta variable es categórica nominal, por lo que es interesante conocer grupos o valores contienen para hacernos una idea global del tipo de animales y plantas del dataset. Otro dato interesante es conocer cuantas observaciones hay en cada grupo.

In [14]:
print(f'List of different categories: {species.category.unique()}')
print(f'\nNúmero de observaciones por categoría:\n{species.groupby("category").size()}')

List of different categories: ['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

Número de observaciones por categoría:
category
Amphibian              80
Bird                  521
Fish                  127
Mammal                214
Nonvascular Plant     333
Reptile                79
Vascular Plant       4470
dtype: int64